<%- include('header') %>
<form class="mx-auto " style="width: 200px;" method="GET" id="converter" action="/cotacao">
  <input class="input-group mb-10" name="cotacao" required placeholder="Cotação Dólar" value="<%= cotacao %>"> <br>
  <input class="input-group mb-10" name="quantidade" required placeholder="Quantidade de dólares"> <br>
  <button class="btn btn-warning mx-auto text-center" style="width: 200px;">Converter</button>
</form>
<%- include('footer') %>